{% extends 'layout.html' %}
{% block content %}
  <h1 class="text-center mb-5">Contact Us</h1>

  <div class="d-flex flex-column align-items-center">
    <div class="text-center mb-5">
      <img src="/static/images/professor.jpg" alt="Professor Image" class=" mb-3" style="width: 100px; height: 150px; object-fit: cover;">
      <h3> Professor In Charge</h3>
      <p><strong>Name:</strong> Dr. Ashutosh Mani  </p>
      <p><strong>Email:</strong> amani@mnnit.ac.in</p>
      <p><strong>Area of Intrest:</strong>:</strong> Bioinformatics: Molecular Modeling and Drug Designing, Molecular Evolution & Comparative Genomics</p>
      <p><strong>Designation:</strong>	Associate Professor, Biotechnology</p>
    </div>

    <div class="row justify-content-center w-100">
      <div class="col-md-5 d-flex flex-column align-items-center">
        <img src="/static/images/student1.jpg" alt="Student 1 Image" class="rounded-circle mb-3" style="width: 120px; height: 120px; object-fit: cover;">
        <h4> Student under Project</h4>
        <p><strong>Name:</strong> Himanshu Singhal</p>
        <p><strong>Email:</strong>himanshusinghania2204@gmail.com</p>
        <p><strong>Designation:</strong> B. Tech Biotechnology - Final Year(2025) </p>
      </div>

      <div class="col-md-5 d-flex flex-column align-items-center">
        <img src="/static/images/student2.jpg" alt="Student 2 Image" class="rounded-circle mb-3" style="width: 120px; height: 120px; object-fit: cover;">
        <h4> Student under Project</h4>
        <p><strong>Name:</strong> Samarth Beck</p>
        <p><strong>Email:</strong> becksamarth@gmail.com</p>
       <p><strong>Designation:</strong> B. Tech Biotechnology - Final Year(2025) </p>
      </div>
    </div>
  </div>
{% endblock %}
